@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

::-webkit-scrollbar {
  display: none;
}

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

body {
  overflow: hidden;
  min-height: calc(100vh - 52px);
  margin: 0;
  padding: 0;
}
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #202020;
  color: #dfdfdf;
  //$family-sans-serif: 'Nunito', sans-serif;
  .DayPicker {
    color: #333;
  }

  .title {
    color: #dfdfdf;
  }

  .navbar {
    background-color: #1b2938;
  }
}

// Update Bulma's global variables

// Update some of Bulma's component variables

//import bulma style
@import '~bulma/bulma';
@import '~bulma-switch/dist/css/bulma-switch';
@import '~bulma-divider/dist/css/bulma-divider';
